.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/IMG_40881.JPG");
}

.u-section-1 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  letter-spacing: 2px;
  line-height: 1;
  animation-duration: 1000ms;
  margin: 464px 434px 0 -37px;
}

.u-section-1 .u-text-2 {
  margin: 30px 340px 60px -37px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-1 {
    margin-right: 334px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 140px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 224px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 134px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 530px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 70px 0;
}

.u-section-2 .u-image-1 {
  min-height: 400px;
  background-image: url("images/Ver1Render_2021-Jan-28_02-12-01AM-000_CustomizedView26209990236.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 27px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 30px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    min-height: 253px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 162px;
  }

  .u-section-2 .u-image-1 {
    min-height: 285px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 56px;
  }

  .u-section-2 .u-image-1 {
    min-height: 179px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 883px;
}

.u-section-3 .u-group-1 {
  min-height: 150px;
  width: 801px;
  margin: 60px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 20px 0 55px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 302px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin: 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 302px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  margin: 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 604px;
  background-image: url("images/Ver1Render_2021-Jan-26_04-36-55AM-000_CustomizedView5614233109.png");
  background-position: 46.67% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 302px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-6 {
  margin: 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 302px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-text-8 {
  margin: 0;
}

.u-section-3 .u-text-9 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 6px;
  }

  .u-section-3 .u-group-1 {
    min-height: 124px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 249px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 249px;
  }

  .u-section-3 .u-image-1 {
    min-height: 498px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 249px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 249px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-3 .u-group-1 {
    min-height: 95px;
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    min-height: 572px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-3 .u-group-1 {
    min-height: 71px;
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 858px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 344px;
  }

  .u-section-3 .u-group-1 {
    min-height: 45px;
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    min-height: 540px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 427px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 67px 0 60px;
}

.u-section-4 .u-image-1 {
  min-height: 310px;
  background-image: url("images/IMG_40841.JPG");
  background-position: 47.38% 100%;
  background-size: auto 125%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 310px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin-top: 55px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-image-2 {
  min-height: 310px;
  background-image: url("images/c716bcb38e3105b2597ab13bd87c2b08249d23a046ae3e325a15cca6fbfc5f215fa57eb5b364c432ba026dc7a0d6e13ba264566c017c3ac5c167d4_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 310px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-4 {
  margin-bottom: 0;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 256px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 256px;
  }

  .u-section-4 .u-image-2 {
    min-height: 256px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 256px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 265px;
  }

  .u-section-4 .u-image-1 {
    min-height: 392px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    min-height: 392px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 199px;
  }

  .u-section-4 .u-image-1 {
    min-height: 588px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 588px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 125px;
  }

  .u-section-4 .u-image-1 {
    min-height: 370px;
  }

  .u-section-4 .u-image-2 {
    min-height: 370px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 901px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 405px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 0 0 100px;
}

.u-section-5 .u-image-1 {
  height: 397px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: auto;
}

.u-section-5 .u-image-2 {
  min-height: 384px;
  background-image: url("images/IMG_40911.JPG");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 789px;
}

.u-section-5 .u-container-layout-3 {
  padding: 100px 0 0;
}

.u-section-5 .u-image-3 {
  height: 586px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-group-1 {
  min-height: 300px;
  width: 442px;
  margin: -443px auto 0 -226px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin: 22px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 763px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 334px;
  }

  .u-section-5 .u-image-1 {
    height: 313px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    min-height: 317px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 651px;
  }

  .u-section-5 .u-image-3 {
    height: 483px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-group-1 {
    margin-top: -404px;
    margin-left: -225px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 256px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-5 .u-image-1 {
    height: 279px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    min-height: 243px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-5 .u-image-3 {
    height: 462px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-group-1 {
    min-height: 235px;
    width: 370px;
    margin-top: -377px;
    margin-left: -187px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 19px;
    padding-bottom: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 384px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 448px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    min-height: 365px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 548px;
  }

  .u-section-5 .u-image-3 {
    height: 508px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-group-1 {
    margin-top: -625px;
    margin-left: 85px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 985px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 242px;
  }

  .u-section-5 .u-image-1 {
    height: 279px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    min-height: 230px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 356px;
  }

  .u-section-5 .u-image-3 {
    height: 316px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-group-1 {
    min-height: 246px;
    width: 280px;
    margin-top: -418px;
    margin-left: auto;
  }
}.u-section-6 {
  min-height: 318px;
}

.u-section-6 .u-sheet-1 {
  min-height: 655px;
}

.u-section-6 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 0 auto 0 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 655px;
  pointer-events: auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-6 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 172px auto 0;
}

.u-section-6 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-6 .u-image-1 {
  min-height: 655px;
  pointer-events: auto;
  background-image: url("images/Ver1Renderv2.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-6 .u-image-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
  .u-section-6 {
    min-height: 66px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 77px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-1 {
    min-height: 414px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-6 .u-image-1 {
    min-height: 621px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    min-height: 391px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 826px;
}

.u-section-7 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-7 .u-image-1 {
  min-height: 698px;
  pointer-events: auto;
  background-image: url("images/Ver1Render_2021-Jan-26_04-24-12AM-000_CustomizedView22326186362.png");
  background-position: 35.86% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 698px;
  pointer-events: auto;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 60px 50px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 2px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 21px 0 0;
}

.u-section-7 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  font-size: 1.875rem;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-7 .u-image-1 {
    min-height: 576px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 576px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-7 .u-image-1 {
    min-height: 441px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-7 .u-image-1 {
    min-height: 662px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-7 .u-image-1 {
    min-height: 417px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 562px;
}

.u-section-8 .u-group-1 {
  width: 747px;
  min-height: 427px;
  height: auto;
  margin: 60px auto;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: 25px 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  align-self: center;
  margin: 17px auto 0;
  padding: 11px 24px 11px 23px;
}

.u-section-8 .u-icon-1 {
  height: 58px;
  width: 64px;
  margin: 17px auto 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-btn-1 {
    height: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-group-1 {
    width: 720px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-group-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-group-1 {
    width: 340px;
  }
}